Repository Wincewind/ohtu-s23-miniprojekti, pull requests merged in 2023-12, with the labels that each got.

#39 Add bibtex download button & needed logic to frontend
  frontend/src/components/ReferenceTable/ReferenceTable.js
  frontend/src/components/ReferenceTable/ReferenceTableToolbar.js
  frontend/src/util/bibTexUtil.js
Labels: frontend

#38 Supplement robot tests
  .env.test
  .github/workflows/main.yml
  example.env
  run_robot_tests.sh
  src/tests/AppLibrary.py
  src/tests/resource.robot
  src/tests/test_add_reference.robot
  src/tests/test_dataprocessing.py
  src/tests/test_reference.robot
Labels: enhancement, backend, frontend

#42 Add scripts to README, remove pty=True from invoke scripts
  README.md
  frontend/README.md
  tasks.py
Labels: documentation

#46 Add `DOI lookup` to frontend
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/AddReferenceForm.js
  frontend/src/components/AppTitle.js
  frontend/src/components/DoiForm.js
  frontend/src/components/ReferenceForm.js
  frontend/src/components/ReferenceTable/ReferenceTableToolbar.js
  frontend/src/util/DoiUtil.js
  frontend/src/util/fetchUtil.js
  src/tests/test_reference.robot
Labels: frontend

#57 Add dropdown component for selecting reference type
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/api/referenceService.js
  frontend/src/components/ReferenceForm/ArticleForm.js
  frontend/src/components/ReferenceForm/BookForm.js
  frontend/src/components/ReferenceForm/Dropdown.js
  frontend/src/components/ReferenceForm/FormContainer.js
  frontend/src/components/ReferenceTable/ReferenceTable.js
  frontend/src/components/ReferenceTable/ReferenceTableHead.js
  frontend/src/components/ReferenceTable/ReferenceTableToolbar.js
Labels: frontend

#58 Add article support for Bibtex dl and DOI lookup, refactor
  frontend/src/App.js
  frontend/src/components/ReferenceForm/Dropdown.js
  frontend/src/components/ReferenceForm/FormContainer.js
  frontend/src/components/ReferenceTable/ReferenceTable.js
  frontend/src/util/DoiUtil.js
  frontend/src/util/bibTexUtil.js
  src/dataprocessing.py
  src/entities/reference.py
  src/routes.py
  src/services/reference_services.py
  src/tests/test_dataprocessing.py
Labels: frontend

#61 Database changes, rename
  schema.sql
  src/dataprocessing.py
  src/routes.py
  src/services/reference_services.py
  src/tests/services/test_reference_services.py
  src/tests/test-schema.sql
  src/tests/test_dataprocessing.py
Labels: enhancement, backend, database
